@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: #dddcca; */
  /* background: #edece4; */
  background: #f0f0e9;

  --color-dark-text: #4c5a2a;
  --color-light-text: rgb(47, 47, 47);

  color: var(--color-dark-text);
  /* --color-green: rgb(13, 46, 45); */

  --color-green: #adb866;
  --color-dark-green: #4c5a2a;

  --color-yellow: rgb(240, 171, 68);
  --color-red: rgb(196, 67, 85);
  --color-tan: rgb(244, 210, 153);

  --color-dark: rgb(4, 8, 15);
  --color-gray: rgb(156, 160, 168);
}
