@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background: #fafafa;

  margin: 0;
  padding: 0;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: rgb(4, 8, 15);
  --color-secondary: rgb(156, 160, 168);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
